<div class="footer">
    <div class="footer_content">
        <div class="about_us">
            <h5>Sobre nosotros</h5>
            <ul class="list">
                <li class="list_item">
                    <p><i class="fa fa-question-circle-o"></i>Quiénes somos</p>
                </li>
            </ul>
        </div>
        <div class="contact">
            <h5>Contacto</h5>
            <ul class="list">
                <li class="list_item">
                    <p><i class="fa fa-whatsapp"></i>WhatsApp: +56 9 6297 8979</p>
                </li>
                <li class="list_item">
                    <p><i class="fa fa-envelope-o"></i>Email: olivergt123@gmail.com</p>
                </li>
            </ul>
        </div>
    </div>
    <p class="author">Información de comida para mascotas | Página web creada por Jonathan Navarro</p>
</div>
