.body {
    background-color: var(--quaternary-color);
    background-image: url(/assets/imgs/background.png);
    width: 100vw;
    min-height: calc(100vh - 125px - 150px);
    padding: 20px 0px;
    padding-bottom: calc(20px - 15px);
    display: flex;
    justify-content: center;
    &_content {
        width: 850px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        app-filter-bar {
            width: calc(25% - 10px);  
        }
        app-products {
            width: calc(75% - 10px);
        }
    }
}
