<div class="products">
    <div class="product_card" *ngFor="let product of products">
        <div class="left_section">
            <div class="product_img">
                <img src="{{imageRouteGenerator(product.id, 'alimentos')}}">
            </div>
        </div>
        <div class="right_section">
            <div class="description">
                <img src="{{imageRouteGenerator(product.marca, 'marcas')}}">
                <h5>{{product.name}}</h5>
            </div>
            <hr>
            <div class="content">
                <div class="ingredientes">
                    <h5>Ingredientes</h5>
                    <ul>
                        <li *ngFor="let ingrediente of orderDescIngrediente(product.ingredientes) | slice:0:4">{{getQuantityIngrediente(ingrediente)}}</li>
                        <li *ngIf="product.ingredientes.length > 4">
                            <a href="">Ver más</a>
                        </li>
                        <li *ngIf="product.ingredientes.length < 1">No especificado...</li>
                    </ul>
                </div>
                <div class="analiticos">
                    <h5>Analíticos</h5>
                    <ul>
                        <li *ngFor="let analitico of orderDescAnalitico(product.analiticos) | slice:0:4">{{getQuantityAnalitico(analitico)}}</li>
                        <li *ngIf="product.analiticos.length > 4">
                            <a href="">Ver más</a>
                        </li>
                        <li *ngIf="product.analiticos.length < 1">No especificado...</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
