.products {
    .product_card {
        background-color: var(--senary-color);
        padding: 15px;
        border: 1px solid var(--tertiary-color);
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        .left_section {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 200px;
            .product_img {
                display: flex;
                justify-content: center;
                height: 200px;
                background-color: var(--quinary-color);
                border: 1px solid var(--tertiary-color);
                img {
                    max-width: 200px;
                    max-height: 200px;
                }
            }
        }
        .right_section {
            width: calc(100% - 200px - 20px);
            .description {
                display: flex;
                img {
                    height: 25px;
                    margin-right: 15px;
                }
            }
            .content {
                display: flex;
                justify-content: space-around;
                & * ul {
                    margin: 0px;
                    li {
                        overflow: visible;
                    }
                }
                .ingredientes {
                    width: 140px;
                }
                .analiticos {
                    width: 140px;
                }
            }
            hr {
                margin: 0px;
                margin-bottom: 10px;
            }
        }
    }
}
