<div class="products">
    <div class="product_card">
        <div class="left_section">
            <div class="product_img">
                <img src="/assets/imgs/alimentos/1.png">
            </div>
        </div>
        <div class="right_section">
            <div class="description">
                <img src="/assets/imgs/marcas/1.png">
                <h5>Comida de gato</h5>
            </div>
            <hr>
            <div class="content">
                <div class="ingredientes">
                    <h5>Ingredientes</h5>
                    <ul>
                        <li>Ingrediente 1</li>
                        <li>Ingrediente 2</li>
                        <li>Ingrediente 3</li>
                        <li>Ingrediente 4</li>
                        <li>
                            <a href="">Ver más</a>
                        </li>
                    </ul>
                </div>
                <div class="analiticos">
                    <h5>Analiticos</h5>
                    <ul>
                        <li>Analítico 1</li>
                        <li>Analítico 2</li>
                        <li>Analítico 3</li>
                        <li>Analítico 4</li>
                        <li>
                            <a href="">Ver más</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
