<div class="header">
    <div class="header-content">
        <div class="logo">
            <a href="{{logo.link}}">
                <img src="{{logo.img}}">
            </a>
        </div>
        <div class="searcher">
            <div class="search_box">
                <input type="text" class="input" placeholder="Buscar...">
                <div class="btn btn_common">
                    <i class="fa fa-search"></i>
                </div>
            </div>
        </div>
        <div class="menu">
            <p>Menu</p>
        </div>
    </div>
</div>

