<div class="row w-100 m-0">
    <div class="col-12">
        <app-title-h1 text="Lista de usuarios H1"></app-title-h1>
        <app-title-h2 text="Lista de usuarios H2"></app-title-h2>
        <app-title-h3 text="Lista de usuarios H3"></app-title-h3>
        <app-title-h4 text="Lista de usuarios H4"></app-title-h4>
        <app-link-a text="Google" href="http://www.google.cl"></app-link-a>
    </div>
    <ng-container *ngIf="users; else elseUsersLoader">
        <app-card-user [data]="user" *ngFor="let user of users" class="col-12 col-md-6 col-xl-3"></app-card-user>
    </ng-container>
    <ng-template #elseUsersLoader>
        <app-card-loader class="col-12 col-md-6 col-xl-3" [bars]="4" [imageSize]="100" *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7]"></app-card-loader>
    </ng-template>
</div>

<!-- <div class="container-fluid px-0">
    <div class="row bg-dark w-100 m-0 h-100">
        <div class="col-12 px-0">
            <app-carousel [items]="carouselData"></app-carousel>
        </div>
    </div>
</div> -->
