<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark h-100">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <svg class="bi me-2" width="40" height="32"></svg>
    <div>
        <h4>{{name}}</h4>
        <h6 class="main_role">{{role}}</h6>
    </div>
    </a>
    <hr>
    <ng-container *ngFor="let menu of menus">
        <app-sidebar-menu [data]="menu"></app-sidebar-menu>
    </ng-container>
    <hr>
    <app-sidebar-menu [data]="logoutMenu"></app-sidebar-menu>
    <hr>
</div>
