<div class="main_login d-flex align-items-center">
  <form [formGroup]="loginForm" class="container bg-light col-3">
    <h1>Inicio de sesión</h1>
    <div class="form-floating">
      <input id="formEmail" class="form-control" type="email" placeholder="name@example.com" formControlName="email">
      <label for="formEmail">Email</label>
      <small class="bg-danger text-light px-2 py-1 my-1 rounded" *ngIf="loginForm.get('email').hasError('email') && loginForm.get('email').touched">{{errors_validations.INVALID_EMAIL}}</small>
      <small class="bg-danger text-light px-2 py-1 my-1 rounded" *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').touched">{{errors_validations.REQUIRED_EMAIL_FIELD}}</small>
    </div>
    <div class="form-floating">
      <input id="formPass" class="form-control" type="password" placeholder="password" formControlName="pass">
      <label for="formPass">Contraseña</label>
      <small class="bg-danger text-light px-2 py-1 rounded" *ngIf="loginForm.get('pass').hasError('pattern') && loginForm.get('pass').touched">{{errors_validations.REQUIRED_PASS_PATTERN}}</small>
      <small class="bg-danger text-light px-2 py-1 rounded" *ngIf="loginForm.get('pass').hasError('required') && loginForm.get('pass').touched">{{errors_validations.REQUIRED_PASS_FIELD}}</small>
    </div>
    <button class="w-100 btn btn-lg btn-primary my-3" [disabled]="loginForm.invalid" (click)="authenticate()">Iniciar sesión</button>
  </form>
</div>
