<div class="main_history container col-10 d-flex">
    <div class="container">
        <h1 class="h4 text-center">Historial de solicitudes</h1>
        <hr>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha de solicitud</th>
                <th scope="col">Fecha de salida</th>
                <th scope="col">Fecha de entrada</th>
                <th scope="col">Detalle de solicitud</th>
                <th scope="col">Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="table-secondary" scope="row">holi</th>
                <td class="table-secondary">holia</td>
                <td class="table-secondary">holi</td>
                <td class="table-secondary">holi</td>
                <td class="table-secondary">holi</td>
                <td class="table-secondary">xD</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
